<footer id="footer" class="w-full bg-gray-800 text-white py-3 bottom-0">
    <div class="text-center">
        <small>
            Copyright © 2024. All Right Reserved | Digital Economy Promotion Agency
            <br><i class="fas fa-code"></i> Developed by Digital Platform and Service Promotion Department
        </small>
    </div>
</footer>
